header.site-header {
    background-color: #e8c9ff;
    position: fixed;
}

body {
    background-color: #e8cff7;
}

.tab {
    overflow: hidden;
    border: 1px solid #e4b2ed;
    background-color: #f5cefd;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;
    transition: 0.3s;
    font-size: 0.9em;
}

.tab button:hover {
    background-color: #ee97ff;
}

.tabContent {
    display: none;
    animation: fadeEffect 320ms;
    border-top: none;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.search {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #e4b2ed;
    margin-bottom: 12px;
    background-color: #f5cefd;
}

table {
    display: table;
    background-color: #f6cdff;
}

th {
    font-size: 0.9em;
    font-style: bold;
    cursor: pointer;
    background-color: #f6cdff;
}

th.priceWithData {
    width: 20%;
}
th.karmaType {
  width: 20%;
}
th.price {
    width: 15%;
}
th.author {
  width: 30%;
}
th.version {
  width: 20%;
}
td.description {
    font-size: 0.7em;
}
span.eventRedirect {
  cursor: pointer;
  text-decoration: underline;
  color: #4a4a4a;
}
span.metadata {
    font-size: 12px;
    padding: 0px;
    font-style: italic;
    color: #4a4a4a;
}

@media screen and (max-width: break) {
  th.priceWithData {
    font-size: 0.8em;
  }
  th.price {
      font-size: 0.8em;
  }
  td.description {
    font-size: 0.7em;
  }
  span.metadata {
    font-size: 0.6em;
    padding: 0;
    font-style: italic;
    color: #4a4a4a;
  }
}

@media screen and (max-width: sm-break) {
  th.priceWithData {
    font-size: 0.8em;
  }
  th.price {
    font-size: 0.8em;
  }
  td.description {
    font-size: 0.7em;
  }
  span.metadata {
    font-size: 0.6em;
    font-style: italic;
    color: #4a4a4a;
  }
}
